# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CDB2OSG/cdb2osg.build/Debug
CDB2OSG/CMakeFiles
CMakeCache.txt
cmake_install.cmake
CDB2OSG/.cproject
CDB2OSG/.project
CDB2OSG/cdb2osg.xcodeproj
CDB2OSG/CMakeScripts
CDB2OSG/Debug
